bbody {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

/* Header */
.navbar {
    background-color: #4CAF50; /* Verde */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

/* Logo a la izquierda */
.navbar-brand {
    width: 50px;
    height: 50px;
}

.imagen-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.navbar-brand .imagen-logo{
    width: 50px;
    height: 50px;
    padding: 10%;
}

/* Navbar general */
.navbar-custom {
    background-color: #4CAF50;
    padding: 10px 20px;
    position: relative;
}

/* Contenedor con layout horizontal */
.nav-container {
    display: flex;
    align-items: center;
    position: relative;
}

/* Logo completamente a la izquierda */
.logo {
    margin-right: auto;
}

/* Imagen del logo */
.imagen-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Botones centrados en el navbar */
.nav-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

/* Estilo botones personalizados */
.btn-custom {
    background-color: #FFC107;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #e0a800;
}