img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    font-family: FinkHeavy, nintendoP;
}

@font-face {
    font-family: "FinkHeavy";
    src: url(media/fonts/FinkHeavy.ttf);
}

@font-face {
    font-family: "nintendoP";
    src: url(media/fonts/nintendoP_Humming-E_002pr.otf);
}


/* Header */
.container-fluid {
    background-color: #74e0aa; /* Verde */
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px;
    gap: 20px;
    font-family: nintendoP;

    position: sticky;
    top: 0px;
}

/* Logo a la izquierda */
.navbar-brand {
    width: 50px;
    height: 50px;
    
}

.navbar-brand .imagen-logo{
    width: 50px;
    height: 50px;
    padding: 10%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.navbar-brand .imagen-logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* lo he quitado pq no pone los nombres bien*/

/* Contenedor de los boxes
.header .boxes {
    display: flex;
    gap: 15px;
} */

/* Box */
/* .header .box {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
} */

.imageninicio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow:hidden;
  padding-top: 2%;
}

.imageninicio img {
  max-width: 70vw;   /* Máximo 90% del ancho de la pantalla */
  max-height: 70vh;  /* Máximo 90% de la altura de la pantalla */
  height: auto;
  width: auto;
}